body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

form label, form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

form input, form textarea, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #0056b3;
}

h1 {
    color: #333;
}

#book-container {
    width: 80%;
    max-width: 960px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.book img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-bottom: 1px solid #eee; 
    margin-bottom: 15px;
}

.book h2, .book p {
    width: 100%; 
    text-align: center; 
    margin: 10px 0;
}

/* Existing styles */
.book-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.book a, button {
    flex: 1;
    margin: 5px;
    box-sizing: border-box;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

#edit {
    background-color: #230d9f;
    border: none;
    cursor: pointer;
}

#edit:hover {
    background-color: #1a0a73;
}

#delete {
    background-color: #dc3545;
    border: none;
    cursor: pointer;
}

#delete:hover {
    background-color: #c82333;
}

form textarea {
    resize: none; 
}

#message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Style the modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  